/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


*{
  margin : 0 ;
  padding:  0;
  box-sizing: border-box;
}

body{
  background: #dff;
}

svg{
  border: 1px solid black;
}

.helicopter{
  position: absolute;
  top: 100px;
}

.propeller{
  position: relative;
  left: 150px;
  background: #f86;
  width: 120px;
  height: 8px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.propeller:before, 
.propeller:after{
  content: "";
  display: inline-block;
  background: #fdd;
  position: absolute;
  height: 8px; 
  width: 15px;
  left: -1px;
  border-radius: 0 10px 10px 20px;
  
}

.propeller:after{
  width: 35px;
  left: 86px;
  border-radius: 10px 0 20px 10px;
}


.stick{
  position: relative;
  top: -15px;
  left: 210px;
  width: 5px;
  height: 25px;
  z-index: -1;
  background: #d76;
  border-radius: 20px 20px 0 0 ;
}

.stick:after{
  content:  "";
  display: inline-block;
  position: absolute;
  top: 20px;
  left: -5px;
  width: 15px;
  height: 5px;
  background: #d76;
  border-radius:90px 90px 0 0;
}